# Introduction/Business Problem

## Inital phase

In the innitial phase I will describe project's objective.

The objective is to predic the severity of an accident given the weather and road conditions.
Prediction will be done with the machine learning model by different supervised algorithms.

Targeted audience are people interested in safety.

# Data

## Data understanding

The label column used is SEVERITYDESC to predict if accident regarding Weather/Road condition will result in Injury or Property Damage Only. 

Data is extracted from csv file found on the Coursera Applied Data Science Capstone Week1.

Data preparation will be done first to select the machine learning model with highest prediction accuracy.

In [5]:
import pandas as pd
import os

In [12]:
df = pd.read_csv(r"C:\Users\itrohar\Desktop\Applied Data Science Capstone Example Dataset\Data-Collisions.csv")
df.head(30)

C:\Users\itrohar\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,"2,-122.3231484,47.70314032,1,1307,1307,3502005...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,-122.3472943,47.64717249,2,52200,52200,26079...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"1,-122.33454,47.60787143,3,26700,26700,1482393...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"1,-122.3348033,47.60480289,4,1144,1144,3503937...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"2,-122.3064263,47.54573946,5,17700,17700,18074...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"1,-122.3875981,47.69057545,6,320840,322340,E91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"1,-122.3384846,47.61853427,7,83300,83300,32825...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2,-122.320780,47.614076,9.0,330897.0,332397.0,EA30304,Matched,Intersection,29745.0,...,Dry,Daylight,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,6855.0,0.0,N
8,"1,-122.3359303,47.61190352,10,63400,63400,2071...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"2,-122.3847002,47.52847544,12,58600,58600,2072...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"1,,,14,48900,48900,2024040,Matched,Alley,,,,,1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"1,-122.3338311,47.54737114,15,38800,38800,C654...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"1,-122.3562726,47.57137519,16,2771,2771,121187...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"1,-122.3239663,47.60637435,17,32800,32800,2128...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"2,-122.3174136,47.66402754,19,1212,1212,350786...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1,-122.337663,47.617510,20.0,330878.0,332378.0,3838086,Unmatched,Block,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0.0,0.0,N
16,"2,-122.3445391,47.69201179,21,46300,46300,2023...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"1,,,23,23000,23000,537838,Matched,Block,,BATTE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"2,-122.3282695,47.57142045,24,330833,332333,EA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"1,-122.3838024,47.58371492,25,97100,97100,2894...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"2,-122.2924031,47.7328465,26,1347,1347,3608880...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"2,-122.3137859,47.70853522,28,1323,1323,350283...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"1,-122.3181688,47.61583703,29,80000,80000,2882...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1,-122.337486,47.589746,31.0,28700.0,28700.0,1213894,Matched,Block,NaN,...,Unknown,Unknown,NaN,4256026.0,NaN,51,Other object,0.0,0.0,N
24,"2,-122.2796585,47.5534048,33,1268,1268,3672152...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"2,-122.3128573,47.5992175,34,320932,322432,E92...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"1,-122.3307297,47.61544972,35,113300,113300,33...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"1,-122.3858591,47.58119072,36,64700,64700,2798...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"1,-122.3049896,47.61147434,37,1083,1083,360590...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"1,,,38,61500,61500,2607270,Matched,Block,,1ST ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.dtypes

SEVERITYCODE       object
X                 float64
Y                 float64
OBJECTID          float64
INCKEY            float64
COLDETKEY         float64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC     float64
SEVERITYCODE.1    float64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT       float64
PEDCOUNT          float64
PEDCYLCOUNT       float64
VEHCOUNT          float64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE      float64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY        float64
CROSSWALKKEY      float64
HITPARKEDCAR       object
dtype: object

In [87]:
df.iloc[7]['HITPARKEDCAR']

type(df.iloc[7]['HITPARKEDCAR'])

str

'SEVERITYCODE''REPORTNO''STATUS''ADDRTYPE''LOCATION''EXCEPTRSNCODE''SEVERITYDESC''COLLISIONTYPE''INCDATE''INCDTTM'str
'JUNCTIONTYPE''SDOT_COLDESC''UNDERINFL''WEATHER''ROADCOND''LIGHTCOND''ST_COLCODE''ST_COLDESC''HITPARKEDCAR'

'X''Y''OBJECTID''INCKEY''COLDETKEY''INTKEY''EXCEPTRSNDESC''SEVERITYCODE.1''PERSONCOUNT''PEDCOUNT''PEDCYLCOUNT' numpy.float64
'VEHCOUNT''SDOT_COLCODE''SDOTCOLNUM''SEGLANEKEY''CROSSWALKKEY'

'INATTENTIONIND''PEDROWNOTGRNT''SPEEDING' float

df[["SEVERITYCODE","REPORTNO","STATUS","ADDRTYPE","LOCATION","EXCEPTRSNCODE","SEVERITYDESC","COLLISIONTYPE","INCDATE","INCDTTM","JUNCTIONTYPE","SDOT_COLDESC","UNDERINFL","WEATHER","ROADCOND","LIGHTCOND","ST_COLCODE","ST_COLDESC","HITPARKEDCAR"]] = df[["SEVERITYCODE","REPORTNO","STATUS","ADDRTYPE","LOCATION","EXCEPTRSNCODE","SEVERITYDESC","COLLISIONTYPE","INCDATE","INCDTTM","JUNCTIONTYPE","SDOT_COLDESC","UNDERINFL","WEATHER","ROADCOND","LIGHTCOND","ST_COLCODE","ST_COLDESC","HITPARKEDCAR"]].astype("str")
df[["X","Y","OBJECTID","INCKEY","COLDETKEY","INTKEY","EXCEPTRSNDESC","SEVERITYCODE.1","PERSONCOUNT","PEDCOUNT","PEDCYLCOUNT","VEHCOUNT","SDOT_COLCODE","SDOTCOLNUM","SEGLANEKEY","CROSSWALKKEY","INATTENTIONIND","PEDROWNOTGRNT","SPEEDING"]] = df[["X","Y","OBJECTID","INCKEY","COLDETKEY","INTKEY","EXCEPTRSNDESC","SEVERITYCODE.1","PERSONCOUNT","PEDCOUNT","PEDCYLCOUNT","VEHCOUNT","SDOT_COLCODE","SDOTCOLNUM","SEGLANEKEY","CROSSWALKKEY","INATTENTIONIND","PEDROWNOTGRNT","SPEEDING"]].astype("float")

In [105]:
df[['SEVERITYCODE']] = df[['SEVERITYCODE']].astype('str')

In [106]:
df.dtypes

SEVERITYCODE       object
X                 float64
Y                 float64
OBJECTID          float64
INCKEY            float64
COLDETKEY         float64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC     float64
SEVERITYCODE.1    float64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT       float64
PEDCOUNT          float64
PEDCYLCOUNT       float64
VEHCOUNT          float64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE      float64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY        float64
CROSSWALKKEY      float64
HITPARKEDCAR       object
dtype: object

In [10]:
# Identify and handle missing Values
import numpy as np
missing_data = df.isnull()
missing_data.head(5)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [11]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

SEVERITYCODE
False    194673
Name: SEVERITYCODE, dtype: int64

X
True     167986
False     26687
Name: X, dtype: int64

Y
True     167986
False     26687
Name: Y, dtype: int64

OBJECTID
True     166427
False     28246
Name: OBJECTID, dtype: int64

INCKEY
True     166427
False     28246
Name: INCKEY, dtype: int64

COLDETKEY
True     166427
False     28246
Name: COLDETKEY, dtype: int64

REPORTNO
True     166427
False     28246
Name: REPORTNO, dtype: int64

STATUS
True     166427
False     28246
Name: STATUS, dtype: int64

ADDRTYPE
True     166430
False     28243
Name: ADDRTYPE, dtype: int64

INTKEY
True     186042
False      8631
Name: INTKEY, dtype: int64

LOCATION
True     167090
False     27583
Name: LOCATION, dtype: int64

EXCEPTRSNCODE
True     181210
False     13463
Name: EXCEPTRSNCODE, dtype: int64

EXCEPTRSNDESC
True    194673
Name: EXCEPTRSNDESC, dtype: int64

SEVERITYCODE.1
True     166427
False     28246
Name: SEVERITYCODE.1, dtype: int64

SEVERITYDESC
True     166427
False     28246
Name: SEVERITYDESC, dtype: int64

COLLISIONTYPE
True     166884
False     27789
Name: COLLISIONTYPE, dtype: int64

PERSONCOUNT
True     166427
False     28246
Name: PERSONCOUNT, dtype: int64

PEDCOUNT
True     166427
False     28246
Name: PEDCOUNT, dtype: int64

PEDCYLCOUNT
True     166427
False     28246
Name: PEDCYLCOUNT, dtype: int64

VEHCOUNT
True     166427
False     28246
Name: VEHCOUNT, dtype: int64

INCDATE
True     166427
False     28246
Name: INCDATE, dtype: int64

INCDTTM
True     166427
False     28246
Name: INCDTTM, dtype: int64

JUNCTIONTYPE
True     169787
False     24886
Name: JUNCTIONTYPE, dtype: int64

SDOT_COLCODE
True     166427
False     28246
Name: SDOT_COLCODE, dtype: int64

SDOT_COLDESC
True     166427
False     28246
Name: SDOT_COLDESC, dtype: int64

INATTENTIONIND
True     191334
False      3339
Name: INATTENTIONIND, dtype: int64

UNDERINFL
True     166880
False     27793
Name: UNDERINFL, dtype: int64

WEATHER
True     166944
False     27729
Name: WEATHER, dtype: int64

ROADCOND
True     166904
False     27769
Name: ROADCOND, dtype: int64

LIGHTCOND
True     166925
False     27748
Name: LIGHTCOND, dtype: int64

PEDROWNOTGRNT
True     191382
False      3291
Name: PEDROWNOTGRNT, dtype: int64

SDOTCOLNUM
True     177934
False     16739
Name: SDOTCOLNUM, dtype: int64

SPEEDING
True     191051
False      3622
Name: SPEEDING, dtype: int64

ST_COLCODE
True     166432
False     28241
Name: ST_COLCODE, dtype: int64

ST_COLDESC
True     166884
False     27789
Name: ST_COLDESC, dtype: int64

SEGLANEKEY
True     166427
False     28246
Name: SEGLANEKEY, dtype: int64

CROSSWALKKEY
True     166427
False     28246
Name: CROSSWALKKEY, dtype: int64

HITPARKEDCAR
True     166427
False     28246
Name: HITPARKEDCAR, dtype: int64

In [13]:
#To see which values are present in a particular column, we can use the ".value_counts()" method
df['SEVERITYCODE'].value_counts()

1                                                                                                                                                                                                                                                                                                                                                                                                                                         16617
2                                                                                                                                                                                                                                                                                                                                                                                                                                         11629
1,-122.3316101,47.62685928,64331,78607,78607,2827680,Matched,Block,,ALOHA ST BETWEEN MINOR AVE N AND YALE AVE N,,,1,Property Damage Only Collision,Parked Car,2,0,0,2,2007/08/29 00:00:00+00,8/29/2007 8:30:00 AM,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",,0,Clear,Dry,Daylight,,7241044,,32,One parked--one moving,0,0,N                                                                   1
1,-122.3203938,47.65271932,179536,232441,232841,3738142,Matched,Block,,UNIVERSITY BR BETWEEN POINT A AND POINT B, ,,1,Property Damage Only Collision,Rear Ended,2,0,0,2,2016/12/12 00:00:00+00,12/12/2016 6:48:00 PM,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",Y,N,Clear,Wet,Dark - Street Lights On,,,,14,From same direction - both going straight - one stopped - rear-end,0,0,N           1
2,-122.3342792,47.62316241,51184,65134,65134,2807480,Matched,Intersection,28769,FAIRVIEW AVE N AND REPUBLICAN ST,,,2,Injury Collision,Angles,2,0,0,2,2007/01/05 00:00:00+00,1/5/2007,At Intersection (intersection related),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",,0,Raining,Wet,Daylight,,7005037,,10,Entering at angle,0,0,N                                                                                                    1
                                                                                                                                                                                                                                                                                                                                                                                                                                          ...
2,-122.3298224,47.61445724,49543,63135,63135,2024539,Matched,Intersection,29872,BOREN AVE AND PINE ST,,,2,Injury Collision,Cycles,2,0,1,1,2006/05/18 00:00:00+00,5/18/2006 3:09:00 PM,At Intersection (but not related to intersection),22,"MOTOR VEHICLE STRUCK PEDALCYCLIST, RIGHT SIDE SIDESWIPE",,0,Clear,Dry,Daylight,Y,6138008,,45,Vehicle - Pedalcyclist,0,0,N                                                                         1
1,-122.3121072,47.58024083,21966,35856,35856,1771464,Matched,Block,,16TH AVE S BETWEEN S BAYVIEW ST AND S LANDER ST,,,1,Property Damage Only Collision,Parked Car,2,0,0,2,2005/02/04 00:00:00+00,2/4/2005,Mid-Block (not related to intersection),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE",,0,Clear,Dry,Daylight,,5035042,,32,One parked--one moving,0,0,N                                                                 1
2,-122.2841012,47.55645048,135962,152237,152257,3672033,Matched,Block,,RAINIER AVE S BETWEEN S HUDSON ST AND 39TH N AVE S, ,,2,Injury Collision,Cycles,2,0,1,1,2013/03/07 00:00:00+00,3/7/2013 11:30:00 AM,Mid-Block (not related to intersection),18,"MOTOR VEHICLE STRUCK PEDALCYCLIST, FRONT END AT ANGLE",,N,Clear,Dry,Daylight,,,,45,Vehicle - Pedalcyclist,0,0,N                                                                        1
1,-122.356706,47.62501857,120273,135152,135152,3373597,Matched,Block,,QUEEN ANNE AVE N BETWEEN MERCER ST AND ROY ST,,,1,Property Damage Only Collision,Sideswipe,3,0,0,2,2012/05/27 00:00:00+00,5/27/2012 7:15:00 PM,Mid-Block (not related to intersection),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE",,N,Clear,Dry,Daylight,,12148016,,12,From same direction - both going straight - one stopped - sideswipe,0,0,N        1
2,-122.355298,47.68438165,219517,310417,311717,3751221,Matched,Block,,GREENWOOD AVE N BETWEEN N 76TH ST AND N 77TH ST, ,,2,Injury Collision,Parked Car,5,0,0,5,2019/01/13 00:00:00+00,1/13/2019 8:36:00 AM,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",,N,Clear,Dry,Daylight,,,,32,One parked--one moving,0,0,Y                                                                                 1
Name: SEVERITYCODE, Length: 166429, dtype: int64

In [14]:
df['SEVERITYDESC'].value_counts()

Property Damage Only Collision    16617
Injury Collision                  11629
Name: SEVERITYDESC, dtype: int64

In [15]:
df['COLLISIONTYPE'].value_counts()

Other         14180
Pedestrian     6393
Parked Car     4575
Cycles         1900
Sideswipe       223
Angles          211
Rear Ended      191
Head On          51
Left Turn        46
Right Turn       19
Name: COLLISIONTYPE, dtype: int64

In [16]:
df['PERSONCOUNT'].value_counts()

2.0     13443
1.0     11057
3.0      2049
0.0       706
4.0       636
5.0       197
6.0        79
7.0        30
8.0        21
11.0        8
10.0        5
9.0         4
12.0        4
15.0        1
81.0        1
22.0        1
17.0        1
32.0        1
30.0        1
19.0        1
Name: PERSONCOUNT, dtype: int64

In [17]:
df['PEDCOUNT'].value_counts()

0.0    21702
1.0     6315
2.0      204
3.0       19
4.0        4
5.0        1
6.0        1
Name: PEDCOUNT, dtype: int64

In [18]:
df['PEDCYLCOUNT'].value_counts()

0.0    26324
1.0     1896
2.0       26
Name: PEDCYLCOUNT, dtype: int64

In [19]:
df['VEHCOUNT'].value_counts()

1.0     21298
2.0      5844
0.0       627
3.0       357
4.0        74
5.0        21
6.0        11
7.0         6
8.0         4
11.0        1
12.0        1
9.0         1
10.0        1
Name: VEHCOUNT, dtype: int64

In [20]:
df['WEATHER'].value_counts()

Clear                       14424
Raining                      5720
Overcast                     4001
Unknown                      3117
Snowing                       180
Fog/Smog/Smoke                123
Other                         119
Sleet/Hail/Freezing Rain       31
Blowing Sand/Dirt               7
Severe Crosswind                6
Partly Cloudy                   1
Name: WEATHER, dtype: int64

In [21]:
df['ROADCOND'].value_counts()

Dry               15887
Wet                8008
Unknown            3120
Ice                 375
Snow/Slush          210
Standing Water       52
Other                46
Sand/Mud/Dirt        38
Oil                  33
Name: ROADCOND, dtype: int64

In [22]:
df['LIGHTCOND'].value_counts()

Daylight                    13004
Dark - Street Lights On      9964
Unknown                      2781
Dusk                          730
Dawn                          536
Dark - No Street Lights       401
Dark - Street Lights Off      268
Other                          59
Dark - Unknown Lighting         5
Name: LIGHTCOND, dtype: int64

In [23]:
df['SPEEDING'].value_counts()

Y    3622
Name: SPEEDING, dtype: int64

In [24]:
df['HITPARKEDCAR'].value_counts()

N    27364
Y      882
Name: HITPARKEDCAR, dtype: int64