# Introduction/Business Problem

## Inital phase

In the innitial phase I will describe project's objective.

The objective is to predic the severity of an accident given the weather and road conditions.
Prediction will be done with the machine learning model by different supervised algorithms.

Targeted audience are people interested in safety.

# Data

## Data understanding

The label column used is SEVERITYDESC to predict if accident regarding Weather/Road condition will result in Injury or Property Damage Only. 

Data is extracted from csv file found on the Coursera Applied Data Science Capstone Week1.

Data preparation will be done first to select the machine learning model with highest prediction accuracy.

In [16]:
import pandas as pd

In [24]:
file = "Data-Collisions2.xlsx"
df = pd.read_excel(file, header=None)

In [25]:
df.head(5)

   0                               1         2    3
0  2                Injury Collision  Overcast  Wet
1  1  Property Damage Only Collision   Raining  Wet
2  1  Property Damage Only Collision  Overcast  Dry
3  1  Property Damage Only Collision     Clear  Dry
4  2                Injury Collision   Raining  Wet

In [26]:
headers = ["SEVERITYCODE","SEVERITYDESC","WEATHER","ROADCOND"]

In [27]:
df.columns = headers
df.head(10)

   SEVERITYCODE                    SEVERITYDESC   WEATHER ROADCOND
0             2                Injury Collision  Overcast      Wet
1             1  Property Damage Only Collision   Raining      Wet
2             1  Property Damage Only Collision  Overcast      Dry
3             1  Property Damage Only Collision     Clear      Dry
4             2                Injury Collision   Raining      Wet
5             1  Property Damage Only Collision     Clear      Dry
6             1  Property Damage Only Collision   Raining      Wet
7             2                Injury Collision     Clear      Dry
8             1  Property Damage Only Collision     Clear      Dry
9             2                Injury Collision     Clear      Dry

In [28]:
missing_data = df.isnull()
missing_data.head(5)

   SEVERITYCODE  SEVERITYDESC  WEATHER  ROADCOND
0         False         False    False     False
1         False         False    False     False
2         False         False    False     False
3         False         False    False     False
4         False         False    False     False

In [42]:
df.to_csv('Data-Collisions2.csv')

In [29]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

SEVERITYCODE
False    194673
Name: SEVERITYCODE, dtype: int64

SEVERITYDESC
False    194673
Name: SEVERITYDESC, dtype: int64

WEATHER
False    189592
True       5081
Name: WEATHER, dtype: int64

ROADCOND
False    189661
True       5012
Name: ROADCOND, dtype: int64

In [30]:
df.dtypes

SEVERITYCODE     int64
SEVERITYDESC    object
WEATHER         object
ROADCOND        object
dtype: object

In [31]:
df['SEVERITYDESC'].value_counts()

Property Damage Only Collision    136485
Injury Collision                   58188
Name: SEVERITYDESC, dtype: int64

In [32]:
df['WEATHER'].value_counts()

Clear                       111135
Raining                      33145
Overcast                     27714
Unknown                      15091
Snowing                        907
Other                          832
Fog/Smog/Smoke                 569
Sleet/Hail/Freezing Rain       113
Blowing Sand/Dirt               56
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

In [33]:
df['ROADCOND'].value_counts()

Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

In [38]:
# dropping whole row
df.dropna(subset=["WEATHER"], axis=0)

        SEVERITYCODE                    SEVERITYDESC   WEATHER ROADCOND
0                  2                Injury Collision  Overcast      Wet
1                  1  Property Damage Only Collision   Raining      Wet
2                  1  Property Damage Only Collision  Overcast      Dry
3                  1  Property Damage Only Collision     Clear      Dry
4                  2                Injury Collision   Raining      Wet
...              ...                             ...       ...      ...
189538             2                Injury Collision     Clear      Dry
189539             1  Property Damage Only Collision   Raining      Wet
189540             2                Injury Collision     Clear      Dry
189541             2                Injury Collision     Clear      Dry
189542             1  Property Damage Only Collision     Clear      Wet

[189543 rows x 4 columns]

In [39]:
# dropping whole row
df.dropna(subset=["ROADCOND"], axis=0)

        SEVERITYCODE                    SEVERITYDESC   WEATHER ROADCOND
0                  2                Injury Collision  Overcast      Wet
1                  1  Property Damage Only Collision   Raining      Wet
2                  1  Property Damage Only Collision  Overcast      Dry
3                  1  Property Damage Only Collision     Clear      Dry
4                  2                Injury Collision   Raining      Wet
...              ...                             ...       ...      ...
189538             2                Injury Collision     Clear      Dry
189539             1  Property Damage Only Collision   Raining      Wet
189540             2                Injury Collision     Clear      Dry
189541             2                Injury Collision     Clear      Dry
189542             1  Property Damage Only Collision     Clear      Wet

[189543 rows x 4 columns]